body {
  font-family: 'Raleway', sans-serif;
}

select{
  display: block;
}

.btnLogin{

  margin-top: 10px;
}

.formLogin{
  padding: 15px 0 0 0 !important;
  margin-bottom: 3px!important;
}

.separador{
  border-bottom: 4px solid grey;
  height: 45px;
}

h6.tabla{
  font-weight: 900;}